:root{
  --blue: #00AAE6;
  --hover-unfiled:#f7f7f7;
  --hover-filed:#01a0d9;
  --white: white;
  --light-grey: #D9D9D9;
  --grey: #ACACAC;
  --black: #3B3B3B;
  --pink: #FFBEBE;
  --hover-pink: #ff9595;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

h2{
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

.content{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  height: 80px;
  padding: 25px 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100;
  background: var(--white);
}

header .header-logo-button{
  display: block;
  height: 100%;
}

header .header-logo{
  height: 100%;
}

main{
  padding: 30px;
  text-align: center;
  flex: 1;
  padding-top: 80px;
}

footer{
  height: 60px;
  padding: 20px 30px;
  box-sizing: border-box;
  border-top: 1px solid var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

button{
  border: none;
  background: none;
  cursor: pointer;
}

form{
  width: 100%;
}

.button{
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  padding: 7px 40px 10px 40px;
}

.button.unfiled, .button.filed, button.nonactive{
  border-radius: 15px;
}

.text-button{
  border: none;
  background: none;
  color: var(--blue);
  text-decoration: none;
}

.button.unfiled{
  border: 2px solid var(--blue);
  color: var(--blue);
}

.button.unfiled:hover{
  background-color: var(--hover-unfiled);
}

.button.filed{
  background-color: var(--blue);
  border: 2px solid var(--blue);
  color: white;
}

.button.filed:hover{
  background-color: var(--hover-filed);
}

button.nonactive{
  background-color: var(--light-grey);
  color: var(--grey);
}

.buttons-block{
  display: inline-flex;
  margin-top: 10px;
  flex-wrap: nowrap;
  justify-content: center;
}

.buttons-block .button:first-child{
  margin-right: 10px;
}

.preview-text{
  margin-bottom: 10px;
  text-align: left;
  width: 330px;
}

.preview-page-block{
  width: min-content;
  margin-top: 30vh;
  margin-left: 20vw;
}

.authorization-page-block, .registration-page-block{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 200px;
  margin: auto;
  margin-top: 20vh;
  align-items: center;
}

input{
  border: 2px solid var(--light-grey);
  border-radius: 15px;
  padding: 7px 70px 10px 70px;
  text-align: center;
  outline: none;
  width: 100%;
}

input.error{
  border-color: var(--pink);
}

.input-block{
  margin-bottom: 10px;
  position: relative;
}

/* form div{
  margin-bottom: 10px;
} */

input[type="date"]{
  text-align: right;
  padding: 7px 40px 10px 40px;
}

input[type="checkbox"]{
  padding: 0;
  width: min-content;
}

input[type="radio"]{
}

label.date{
  position: absolute;
  z-index: 100;
  top: 19px;
  transform: translateY(-60%);
  left: 40px;
  font-size: 14px;
  color: #8b8b8b;
}

.birth-block{
  flex-grow: 1;
  position: relative;
}

.terms-block label{
  flex-grow: 1;
  text-align: left;
  padding-left: 10px;
  color: #8b8b8b;
}

.terms-block label.error{
  color: var(--hover-pink);
}

.terms-block{
  padding-left: 20px;
  margin-bottom: 10px;
}

/* input:last-of-type{
  margin-bottom: 20px;
} */

input:focus-visible{
  border-color: var(--grey);
  outline: none;
}

.birth-gender-block, .terms-block{
  display: flex;
  align-items: center;
}

.gender-block{
  display: flex;
  margin-left: 15px;
  margin-bottom: 16px;
}

.gender-block span{
  display: flex;
  margin-left: 10px;
}

.gender-block span label{
  margin-right: 3px;
}

.err-text{
  /* position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  transform: translateX(100%) translateY(-50%); */
  color: var(--hover-pink);
  text-wrap: nowrap;
  font-size: 12px;
}

/* меню */
.menu-block{
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.menu-block button{
  margin-bottom: 10px;
}

.menu-item.selected{
  color: var(--blue);
}

/* карта */

.card-block{
  max-width: 560px;
  max-height: 360px;
  position: relative;
  width: 40vw;
}



.default .card-chip{
  position: absolute;
  right: 9%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 72px;
  max-height: 56px;
  width: 13%;
}

.default .card-logo{
  position: absolute;
  top: 13%;
  left: 9%;
  max-width: 94px;
  max-height: 67px;
  width: 17%;
}

.default .card-number{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 9%;
  text-align: left;
}

.default .card-username{
  position: absolute;
  bottom: 13%;
  left: 9%;
  text-align: left;
}

.user-page-content{
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 300px){
  .card-block{
    width: 100%;
  }

  .card-username{
    font-size: calc(5px + 2vw);
  }

  .card-number{
    font-size: calc(10px + 2vw);
  }

  .user-page-content{
    flex-direction: column;
  }
}

@media (min-width: 500px){
  .card-block{
    width: 60%;
  }

  .card-username{
    font-size: calc(3px + 2vw);
  }

  .card-number{
    font-size: calc(7px + 2vw);
  }

  .user-page-content{
    flex-direction: row;
  }
}

@media (min-width: 1000px){
  .card-number{
    font-size: 26px;
  }
  
  .card-username{
    font-size: 20px;
  }
}

.default .card-image{
  width: 100%;
  height: auto;
  border-radius: 2vw;
}

.close-card{
  color: var(--grey);
  position: absolute;
  bottom: -20px;
  white-space: nowrap;
  left: 50%;
  transform: translateX(-50%);
}