:root{
  --blue: #00AAE6;
  --hover-unfiled:#f7f7f7;
  --hover-filed:#01a0d9;
  --white: white;
  --light-grey: #D9D9D9;
  --grey: #ACACAC;
  --black: #3B3B3B;
  --pink: #FFBEBE;
  --hover-pink: #ff9595;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

h2{
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 600;
}

.content{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  color: var(--black);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  height: 80px;
  padding: 25px 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100;
  background: var(--white);
}

header .header-logo-button{
  display: block;
  height: 100%;
}

header .header-logo{
  height: 100%;
}

main{
  padding: 30px;
  text-align: center;
  flex: 1;
  padding-top: 80px;
  overflow: auto;
}

footer{
  height: 60px;
  padding: 20px 30px;
  box-sizing: border-box;
  border-top: 1px solid var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--white);
}

button{
  border: none;
  background: none;
  cursor: pointer;
}

form{
  width: 100%;
}

.button{
  cursor: pointer;
  text-decoration: none;
  font-size: 14px;
  padding: 7px 40px 10px 40px;
}

.button.unfiled, .button.filed, button.nonactive{
  border-radius: 15px;
}

.text-button{
  border: none;
  background: none;
  color: var(--blue);
  text-decoration: none;
}

.button.unfiled{
  border: 2px solid var(--blue);
  color: var(--blue);
}

.button.unfiled:hover{
  background-color: var(--hover-unfiled);
}

.button.filed{
  background-color: var(--blue);
  border: 2px solid var(--blue);
  color: white;
}

.button.filed:hover{
  background-color: var(--hover-filed);
}

button.nonactive{
  background-color: var(--light-grey);
  color: var(--grey);
}

.buttons-block{
  display: inline-flex;
  margin-top: 10px;
  flex-wrap: nowrap;
  justify-content: center;
}

.buttons-block .button:first-child{
  margin-right: 10px;
}

.preview-text{
  margin-bottom: 10px;
  text-align: left;
  width: 330px;
}

.preview-page-block{
  width: min-content;
  margin-top: 30vh;
  margin-left: 20vw;
}

.authorization-page-block, .registration-page-block{
  display: flex;
  flex-direction: column;
  max-width: 400px;
  min-width: 200px;
  margin: auto;
  margin-top: 20vh;
  align-items: center;
}

.editprofile-block form{
  max-width: 400px;
  width: 100%;
  min-width: 200px;
}

input{
  border: 2px solid var(--light-grey);
  border-radius: 15px;
  padding: 7px 70px 10px 70px;
  text-align: center;
  outline: none;
  width: 100%;
}

input.error{
  border-color: var(--pink);
}

.input-block{
  margin-bottom: 10px;
  position: relative;
}

/* form div{
  margin-bottom: 10px;
} */

input[type="date"]{
  text-align: right;
  padding: 7px 40px 10px 40px;
}

input[type="checkbox"]{
  padding: 0;
  width: min-content;
}

label.date{
  position: absolute;
  z-index: 100;
  top: 19px;
  transform: translateY(-60%);
  left: 40px;
  font-size: 14px;
  color: #8b8b8b;
}

.birth-block{
  flex-grow: 1;
  position: relative;
}

.terms-block label{
  flex-grow: 1;
  text-align: left;
  padding-left: 10px;
  color: #8b8b8b;
}

.terms-block label.error{
  color: var(--hover-pink);
}

.terms-block{
  padding-left: 20px;
  margin-bottom: 10px;
}

/* input:last-of-type{
  margin-bottom: 20px;
} */

input:focus-visible{
  border-color: var(--grey);
  outline: none;
}

.birth-gender-block, .terms-block{
  display: flex;
  align-items: center;
}

.gender-block{
  display: flex;
  margin-left: 15px;
  margin-bottom: 16px;
}

.gender-block span{
  display: flex;
  margin-left: 10px;
}

.gender-block span label{
  margin-right: 3px;
}

.err-text{
  /* position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  transform: translateX(100%) translateY(-50%); */
  color: var(--hover-pink);
  text-wrap: nowrap;
  font-size: 12px;
}

/* меню */

.menu-block button, .custom-menu-block button{
  margin-bottom: 10px;
  white-space: nowrap;
}

.menu-item.selected{
  color: var(--blue);
}

/* карта */

.card-item{
  max-width: 560px;
  max-height: 360px;
  position: relative;
}

.qrcode-block img{
  max-width: 560px;
  width: 40vw;
}

.editprofile-block{
  padding-top: 30px;
}

.card-block .card-number{
  font-size: 26px;
}

.card-block .card-name{
  font-size: 22px;
}


.default .card-chip{
  position: absolute;
  right: 9%;
  top: 50%;
  transform: translateY(-50%);
  max-width: 72px;
  max-height: 56px;
  width: 13%;
}

.default .card-logo{
  position: absolute;
  top: 13%;
  left: 9%;
  max-width: 94px;
  max-height: 67px;
  width: 17%;
}

.default .card-number{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 9%;
  text-align: left;
}

.default .card-username{
  position: absolute;
  bottom: 13%;
  left: 9%;
  text-align: left;
}

.default .card-image{
  width: 100%;
  height: auto;
  border-radius: 2vw;
}

/* corner */

.corner .card-chip{
  position: absolute;
  right: 9%;
  top: 13%;
  max-width: 72px;
  max-height: 56px;
  width: 13%;
}

.corner .card-logo{
  position: absolute;
  top: 13%;
  left: 9%;
  max-width: 94px;
  max-height: 67px;
  width: 17%;
}

.corner .card-number{
  position: absolute;
  bottom: 13%;
  left: 9%;
  text-align: left;
  width: 31%;
}

.corner .card-username{
  position: absolute;
  bottom: 13%;
  right: 9%;
  text-align: left;
}

.corner .card-image{
  width: 100%;
  height: auto;
  border-radius: 2vw;
}

/* center */

.center .card-chip{
  position: absolute;
  left: 9%;
  top: 13%;
  max-width: 72px;
  max-height: 56px;
  width: 13%;
}

.center .card-logo{
  position: absolute;
  bottom: 13%;
  right: 9%;
  max-width: 94px;
  max-height: 67px;
  width: 17%;
}

.center .card-number{
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  text-align: left;
  white-space: nowrap;
}

.center .card-username{
  position: absolute;
  top: 13%;
  left: 50%;
  text-align: left;
  transform: translateX(-50%);
}

.center .card-image{
  width: 100%;
  height: auto;
  border-radius: 2vw;
}

.user-page-content{
  display: flex;
  align-items: center;
  height: 100%;
}

@media (min-width: 300px){
  /* .card-item, .qrcode-block{
    width: 100%;
  } */


  .user-page-content{
    flex-direction: column;
  }

  .menu-block{
    flex-direction: row;
    padding: 10px;
  }
  .menu-block button{
    margin-right: 10px;
  }
}

@media (min-width: 500px){
  /* .card-item, .qrcode-block{
    width: 60%;
  } */

  .menu-block{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    position: fixed;
    right: 20px;
    top: 40%;
    transform: translateY(-50%);
  }

  .custom-menu-block{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    width: 190px;
  }

  .user-page-content{
    flex-direction: row;
  }

  .user-page-content .card-block, .user-page-content .qrcode-block, .user-page-content .editprofile-block, .user-page-content .custom-page-block{
    margin: 0 auto;
  }


}


.close-card{
  color: var(--grey);
  white-space: nowrap;
  margin-top: 10px;
}

/* .user-page-block{
  height: calc(100vh - 170px);
} */


.change-block .card-item{
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
  transition: max-width 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  cursor: pointer;
  cursor: pointer;
  display: inline-flex;
  z-index: 1;
  border-radius: 21px;
}

.change-block .card-item.selected{
  max-width: 360px;
  border-radius: 21px;
  /* box-shadow: 0 0 20px #00AAE6; */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px 0px, rgba(0, 0, 0, 0.23) 0px 3px 6px 0px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px; */
  z-index: 2;
}

.change-block .card-item.selected .card-name{
  font-size: 24px;
}

.change-block .card-item.selected .card-number{
  font-size: 20px;
}

.change-block .card-item .card-name{
  font-size: 16px;
  transition: font-size 0.5s ease-in-out;
}

.change-block .card-item .card-number{
  font-size: 18px;
  transition: font-size 0.5s ease-in-out;
}

.change-block .card-item .card-image{
  border-radius: 17px;
  transition: border-radius 0.5s ease-in-out;
  
}

.change-block .card-item.selected .card-image{
  border-radius: 20px;
  transition: border-radius 0.5s ease-in-out;
}

.change-block{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.card-block, .qrcode-block, .editprofile-block{
  width: calc(100vw - 180px);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100vw - 180px);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 270px);
  justify-content: center;
}

.custom-page-block{
  width: calc(100vw - 180px);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.custom-menu-block .buttons-block{
  margin: 0;
}